<h1>Your bookings</h1>
<div class="container">
<% @bookings.each do |booking| %>
  <% if current_user.name.empty? %>
    <li><%= booking.user.email %><%= booking.review %><%= booking.happenned_at %></li>
  <% else %>
    <li><%= booking.user.name %><%= booking.review %><%= booking.happenned_at %></li>
  <% end %>
<% end %>
</div>
