<%= render "layouts/banner"%>
<div class="container">
  <h1 style="text-align: center;"> <strong>All Users skills</strong></h1>
  <div class="row">
    <% @user_skills.each do |user_skill| %>

      <div class="col-xs-12 col-sm-4">

        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path user_skill.skill.picture, height: 300, width: 400, crop: :fill %>');">
          <div class="card-category"><h6><%= user_skill.skill.name %></h6></div>
          <div class="card-description">
            <%= link_to "#{user_skill.user.name}", user_skill_path(user_skill.id) %>
          </div>
          <img class="card-user avatar border-user"
          <%= cl_image_tag(user_skill.user.avatar, :gravity=>"face", :height=>80, :width=>80, :x=>0, :crop=>"fill") %>
          <a class="card-link" href="#" ></a>
        </div>
      </div>
    <% end %>
  </div>
</div>
