<h2 style="text-align: center;"> <strong>User Skill Details</strong> </h2>
<div class="container-fluid">
      <div class="row">
          <div class="col-xs-12 offset-col-xs-6">
            <ul class="list-unstyled ">

              <li class="product">
                  <div class="product-upvote">
                  <i class="fa fa-caret-up" aria-hidden="true"></i>
                  <p>3000</p>
                  </div>

                  <img src="https://picsum.photos/150/150/?random" alt="" class="img-rounded border-user">

                  <div class="product-description">
                      <h3><strong><%= @user_skill.skill.name%></strong></h3>
                      <p><%= @user_skill.skill.description%></p>
                  </div>

                <%= simple_form_for [@user_skill, @booking ] do |f| %>
                  <%= f.input :happenned_at %>
                  <%= f.submit "reserver" %>
                <% end %>
              </li>
            </ul>
          </div>
      </div>
</div>
<div class="container">
  <h2>Book Your skill</h2>
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <%= simple_form_for [@user_skill, @booking ] do |f| %>        
        <%= f.input :happenned_at, :as => :string, :value => time_format(f.object.happenned_at),:input_html => { :class => 'thin', :placeholder => 'eg: 20/03/2018' } %>
        <%= f.submit "reserver" %>
      <% end %>
    </div>
  </div>
</div>

